{if="$fsc->albaran"}
<!--
CAMBIOS REALIZADOS:

SE QUITO LOS INCLUDES DE HEDAER2 Y FOOTER2
SE AGREGO POSICIONES ABSOLUTAS A LAS TABLAS

->



<!--<script type="text/javascript">
   $(document).ready(function() {
      window.print();
      setTimeout(function () { window.close(); }, 100);
   });
</script>  -->

<meta charset="utf-8">

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<div style="
    width: 825px;
    height: 700px;    
    border: 1px solid black ;
    position: absolute;
    "
    >
 
    <table style="
    font-size: 18px; 
    font-family: 'Roboto Slab', serif;
    margin-top: 85px; 
    margin-bottom: 60px;
    top: 10px;       
    position: absolute; ">
        <tr> 

         <td style="border-top: none;">
                               
                    <div style="padding-left:40px;" > 
                        {$fsc->albaran->codagente}                         
                    </div>              
            </td>
          
        </tr>
        
          <tr>
            <td style=" max-width: 600px;">
                <div style=" padding-left: 130px; width:595px;">                      
                         {$fsc->albaran->nombrecliente} 
                    </div>

              
            </td>      
       
        </tr>
        
   <tr >
            <td style=" max-width: 600px;" > 
               
                    <div style="padding-left: 95px; width:1075px; " >                        
                         {$fsc->albaran->direccion} 
                    </div>
                   
              
              
            </td>     

        </tr>
        <tr>

          <td style=" max-width: 595px;" >
                               
                    <div style="padding-left:70px; width:595px; "> 
                        {$fsc->albaran->fecha}                         
                    </div>
              
            </td>

                 <td>
                     <div style="padding-right: 250px;">
                         {$fsc->albaran->cifnif}
                    </div>
            </td>

                        <td>
                  <div style="padding-right:0px; width: 300px;">
                         {$fsc->cliente->telefono1}
                    </div>
            </td>
        </tr>
    </table>
    
    
 <!--TABLA DE LINEAS-->
        <table style=" 
        font-size: 18px;
        top: 300px; 
        font-family: 'Roboto Slab', serif;       
        position: absolute;">
          

            
                                  {loop="$fsc->albaran->get_lineas()"}
                                    
         <tr > 
             <td >
                     <div >{$value->cantidad}</div>
                     </td>
                     <td >
                     
                     <div style="padding-left:115px; width:700px; ">{$value->referencia}... {$value->descripcion}</div>
                     </td>
                     <td>
                     <div style="padding-left:35px; ">{$fsc->show_precio($value->pvpunitario, $fsc->albaran->coddivisa)}</div>
                     </td>
                     <td>
                     <div style="padding-left:35px; "">{$fsc->show_precio($value->total_iva(), $fsc->albaran->coddivisa)}</div>
                    
              </td>   
               </tr>

                     {/loop}
       
 
      
               
        </table>

<!--TABLA DE OBSERVACIONES

 <table style="">
       <tr>
       	<td>
       	
       		<div style="padding-left:80px; width:200px; font-size: ">{$fsc->albaran->observaciones}</div>
       	</td>

       </tr>
    </table>-->

<!--TABLA DE TOTALES-->

        <table style="
        font-size: 22px;
        font-family: 'Roboto Slab', serif;     
        top: 800px; 
        left: -100px;
        position: absolute;">
    
            <tr> 

             <td>
                <div style="width:500px;">
                    
                    </div>
                </td> 

             <td>
                <div style="width:200px;" >
                    {$fsc->albaran->codpago}
                    </div>
                    <div style="width:200px;" >
                    {$fsc->agencia_trans->nombre}
                    </div>
                </td>
                </tr>

                <tr> 
                 <td>
                <div style="width:800px;">
                    
                    </div>
                </td>    
                <td>
                <div style="width:450px; padding-left:310px;">
                    {$fsc->show_precio($fsc->albaran->neto, $fsc->albaran->coddivisa)}
                    </div>
                </td>
                </tr>
                <tr>

                 <td>
                <div style="width:800px;">
                    
                    </div>
                </td> 

                <td>
                <div style="width:450px; padding-left:310px; ">
                  {$fsc->show_precio($fsc->albaran->totaliva, $fsc->albaran->coddivisa)} 
                  </div> 
                </td>
                </tr>
                <tr>

                 <td>
                <div style="width:800px;  ">
                    
                    </div>
                </td> 

             <td>
             	<div style="width:450px; padding-left:310px; ">
                 {$fsc->show_precio($fsc->albaran->total, $fsc->albaran->coddivisa)}
                  </div>
                </td>
            </tr>
           
        </table>
   
        
      
               
     
</div>
{else}
<div class="thumbnail">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

